
.vs/CMake Overview
.vs/cmake.db
.vs/NGS/FileContentIndex/33296ba9-f83c-4ace-a8a8-45e4cf1c432f.vsidx
.vs/NGS/FileContentIndex/36eba05e-2041-460e-ba72-3980c9296ef6.vsidx
.vs/NGS/FileContentIndex/8264604b-30ec-4d27-9326-319168930a25.vsidx
.vs/NGS/FileContentIndex/e004df41-6b36-46e4-8b21-70157dc7199d.vsidx
.vs/NGS/FileContentIndex/read.lock
.vs/NGS/v17/.wsuo
.vs/NGS/v17/Browse.VC.db
.vs/NGS/v17/ipch/AutoPCH/204f406683647b16/MAIN.ipch
.vs/NGS/v17/ipch/AutoPCH/211c2d563edac36b/MATRIX.ipch
.vs/NGS/v17/ipch/AutoPCH/2bbcf360045f1bc6/NGS_COLOR.ipch
.vs/NGS/v17/ipch/AutoPCH/a287ac1e584899e/MATH.ipch
.vs/NGS/v17/ipch/AutoPCH/b7a4460f12e73d20/NGS_MEMORY.ipch
.vs/NGS/v17/ipch/AutoPCH/d2f12db03b3ff364/MAIN.ipch
.vs/NGS/v17/ipch/AutoPCH/e4ebd6201b312291/NGS_CONFIG.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.ipch
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-0bca74edf32cdaa5edf9.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-ca4d461b2b0b01662172.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-642dbdbc0af89bfffd3a.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/directory-include-Debug-d173e0f0f2f3c2971879.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS-Debug-49f1f57daaf5cbd39cdf.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS.algorithm-Debug-d6219f4b774a9189a18c.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS.base-Debug-180d5f7b347792ecb126.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS.embedded-Debug-68f705d45f4f23bf4211.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS.extend-Debug-334cf793b9736bf84e93.json
cmake-build-debug/.cmake/api/v1/reply/directory-include.NGS.math-Debug-14185d18cc616ddfcd10.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-06-05T06-24-46-0878.json
cmake-build-debug/.cmake/api/v1/reply/target-NGS-Debug-2a06757016af62443d39.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-c7535588bc457bdb5619.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/a.exe
cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/NGS.dir/src/main.cpp.obj
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/include/cmake_install.cmake
cmake-build-debug/include/NGS/algorithm/cmake_install.cmake
cmake-build-debug/include/NGS/base/cmake_install.cmake
cmake-build-debug/include/NGS/cmake_install.cmake
cmake-build-debug/include/NGS/embedded/cmake_install.cmake
cmake-build-debug/include/NGS/extend/cmake_install.cmake
cmake-build-debug/include/NGS/math/cmake_install.cmake
cmake-build-debug/NGS.exe
cmake-build-debug/Testing/Temporary/LastTest.log
