
.vs/CMake Overview
.vs/cmake.db
.vs/NGS/FileContentIndex/33296ba9-f83c-4ace-a8a8-45e4cf1c432f.vsidx
.vs/NGS/FileContentIndex/36eba05e-2041-460e-ba72-3980c9296ef6.vsidx
.vs/NGS/FileContentIndex/8264604b-30ec-4d27-9326-319168930a25.vsidx
.vs/NGS/FileContentIndex/e004df41-6b36-46e4-8b21-70157dc7199d.vsidx
.vs/NGS/FileContentIndex/read.lock
.vs/NGS/v17/.wsuo
.vs/NGS/v17/Browse.VC.db
.vs/NGS/v17/ipch/AutoPCH/204f406683647b16/MAIN.ipch
.vs/NGS/v17/ipch/AutoPCH/211c2d563edac36b/MATRIX.ipch
.vs/NGS/v17/ipch/AutoPCH/2bbcf360045f1bc6/NGS_COLOR.ipch
.vs/NGS/v17/ipch/AutoPCH/a287ac1e584899e/MATH.ipch
.vs/NGS/v17/ipch/AutoPCH/b7a4460f12e73d20/NGS_MEMORY.ipch
.vs/NGS/v17/ipch/AutoPCH/d2f12db03b3ff364/MAIN.ipch
.vs/NGS/v17/ipch/AutoPCH/e4ebd6201b312291/NGS_CONFIG.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
